@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/Vazir.eot");
  src: url("assets/fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/Vazir.woff2") format("woff2"),
    url("assets/fonts/Vazir.woff") format("woff"),
    url("assets/fonts/Vazir.ttf") format("truetype");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: bold;
  src: url("assets/fonts/Vazir-Bold.eot");
  src: url("assets/fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/Vazir-Bold.woff2") format("woff2"),
    url("assets/fonts/Vazir-Bold.woff") format("woff"),
    url("assets/fonts/Vazir-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333533;
}

body {
  font-family: "Vazir", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

.header {
  background-color: #333533;
  height: 376px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
}

.header .title {
  margin: 0 50px;
}

.header .title h1 {
  font-size: 56px;
  margin: 0;
  line-height: 1;
}

.header .position {
  font-size: 32px;
  margin: 40px 0;
}

.button {
  border: 1px solid #ffd100;
  border-radius: 4px;
  padding: 8px 24px;
}

.button:hover,
.button:hover i{
  color: #333533;
  background-color: #ffd100;
}

.button i{
  margin-right: 6px;
}

.header .position i,
.header .title h1,
.button,
.button i {
  color: #ffd100;
}

.lang,
.lang i,
.header .position{
  color: #fafafa;
}

.lang{
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    opacity: 0.7;
    align-self: flex-start;
}

.lang:hover{
  opacity: 1;
}

.lang i{
  margin-right: 4px;
}

.header img{
    width: 290px;
    height: 290px;
    border-radius: 50%;
}
